#buttons {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    height: 30px;
}

#grid {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#grid div {
    display: flex;
    flex: auto;
}

#grid div div {
    outline: solid 1px;
    flex: auto;
}

.painted {
    background-color: green;
}