#buttons {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    height: 30px;
}

#canvas {
    display: flex;
    flex-direction: column;
    margin: auto;
    outline: solid 2px;
}

#canvas div {
    display: flex;
    flex: auto;
}

#canvas div div {
    flex: auto;
}

.painted {
    background-color: green;
}